<h1> All Recipes </h1>
<h2> <%= @recipe.recipeName %></h2>


<% if @recipes.blank? %>
    <h2> No Recipes made, try and make some!</h2>
<% else %>
    <%= render partial: "recipes", locals: {recipes: @recipes} %>
<% end %> 